* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 50px;
}

.container {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    border: 8px solid gray;
    max-width: 800px;
    min-width: 800px;
    gap: 1px;
}

.grid {
    border: 1px solid black;
    flex-basis: calc(100% / 16);
    padding-top: calc(100% / 16);
}

button {
    margin-top: 25px;
    height: 30px;
    width: 70px;
}